//- Import the button component
include ../button/button

//- Info Block Component
mixin infoBlock(icon, linkText, linkHref, description)
  .nj-info-block
    .nj-info-block__icon
      img(src=icon, alt='')
    p.nj-info-block__content
      +button(linkText, 'nj-button--ghost', linkHref, false)
      span.nj-info-block__description &nbsp; #{description}