.buttons-container {
  display: flex;
  justify-content: space-between; // Espacement égal entre les colonnes
  width: 100%; // Utiliser toute la largeur disponible
}

.button-column {
  display: flex;
  flex-direction: column;
  align-items: center; // Centrer les boutons verticalement dans leur colonne
  width: 33%; // Chaque colonne prend un tiers de la largeur du conteneur

  .btn {
    margin-bottom: 20px; // Espacement entre les boutons
  }
}

.btn {
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  margin: 5px;
  display: inline-block;
  background: none;
  &:hover {
    opacity: 0.8;
  }
}

.bg-blue {
  background-color: #007ACD;
  color: white;
  border-color: #007ACD;
}

.bg-dark {
  background-color: #002457;
  color: white;
  border-color: #002457;
}

.bg-light {
  background-color: #E5E5E5;
  color: #858585;
  border-color: #E5E5E5;
}

.border-blue {
  border-color: #007ACD;
  color: #007ACD;
}

.border-dark {
  border-color: #002457;
  color: #002457;
}

.border-light {
  border-color: #E5E5E5;
  color: #E5E5E5;
}

.btn.transparent {
  background-color: transparent;
  color: black;
  border-color: transparent; // Assurez-vous que la bordure est transparente
}
.btn.text-blue {
  color: #007ACD; // Couleur bleue pour le texte
  text-decoration: underline; // Souligne le texte
  border: none; // Aucune bordure
  background-color: transparent; // Fond transparent
}

.btn.text-bluz {
  color: #002457; // Couleur verte pour le texte
  text-decoration: underline; // Souligne le texte
  border: none; // Aucune bordure
  background-color: transparent; // Fond transparent
}

.btn.text-gray {
  color: #858585; // Couleur grise pour le texte
  text-decoration: underline; // Souligne le texte
  border: none; // Aucune bordure
  background-color: transparent; // Fond transparent
}