mixin testKit()
  .test-kit
    .test-kit__header
      button.test-kit__status En cours
      button.test-kit__project GS Projet
    .test-kit__title Test KIT
    .test-kit__info
      .test-kit__section-title Environnement / Team
      hr
      .test-kit__details
        .test-kit__role PO: Thierry
        .test-kit__role UI: x
        .test-kit__role UX: x
        .test-kit__role DEV FRONT: Thierry