@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --color-primary-black: #343434;
  --color-primary-white: #fff;
  --color-primary-blue-default: #007acd;
  --color-primary-blue-hover: #002457;
  --color-primary-green-action: #23d2b5;
  --color-primary-light-gray: #e5e5e5;
  --color-primary-medium-gray: #858585;
  --color-secondary-light-blue: #ecf6fd;
  --color-alert-success: #0c762e;
  --color-alert-error: #c03;
  --color-tertiary-magenta: #9a0ca7;
  --color-tertiary-teal: #008480;
  --font-family-default: "Lato", "Arial", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-base: 1rem;
  --font-size-xs: 0.875rem;
  --font-size-lg: 1.25rem;
  --font-line-height-default: 120%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-family: var(--font-family-default);
}
body {
  padding: 20px;
  color: var(--primary-black);
  font-family: var(--font-family-default);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-line-height-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
ol {
  list-style: none;
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border: 0;
  height: 1px;
  background: #e0e0e0;
  margin: 20px 0;
}
.nj-button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-family: var(--font-family-default);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height-default);
  --nj-button-primary-bg-color: var(--color-primary-blue-default);
  --nj-button-primary-hover-bg-color: var(--color-primary-blue-hover);
  --nj-button-primary-disabled-bg-color: var(--color-primary-light-gray);
  --nj-button-secondary-bg-color: transparent;
  --nj-button-secondary-color: var(--color-primary-blue-default);
  --nj-button-secondary-hover-bg-color: transparent;
  --nj-button-secondary-disabled-bg-color: transparent;
  --nj-button-ghost-bg-color: transparent;
  --nj-button-ghost-color: var(--color-primary-blue-default);
  --nj-button-ghost-hover-color: var(--color-primary-blue-hover);
  --nj-button-ghost-disabled-color: var(--color-primary-medium-gray);
  --nj-button-padding: 8px 20px;
  --nj-button-border-radius: 0;
  gap: 5px;
  height: 44px;
}
.nj-button:focus-visible {
  outline: max(2px, 0.15rem) solid var(--color-tertiary-teal);
  outline-offset: max(2px, 0.15rem);
}
.nj-button--primary {
  background-color: var(--nj-button-primary-bg-color);
  color: var(--color-primary-white);
  padding: var(--nj-button-padding);
  border-radius: var(--nj-button-border-radius);
}
.nj-button--primary:hover {
  background-color: var(--nj-button-primary-hover-bg-color);
}
.nj-button--primary:disabled {
  background-color: var(--nj-button-primary-disabled-bg-color);
  color: var(--nj-button-ghost-disabled-color);
  cursor: not-allowed;
}
.nj-button--secondary {
  background-color: var(--nj-button-secondary-bg-color);
  color: var(--nj-button-secondary-color);
  padding: var(--nj-button-padding);
  border: 1px solid var(--nj-button-secondary-color);
  border-radius: var(--nj-button-border-radius);
}
.nj-button--secondary:hover {
  background-color: var(--nj-button-secondary-hover-bg-color);
  border-color: var(--color-primary-blue-hover);
  color: var(--color-primary-blue-hover);
}
.nj-button--secondary:disabled {
  border-color: var(--nj-button-ghost-disabled-color);
  background-color: var(--nj-button-secondary-disabled-bg-color);
  color: var(--nj-button-ghost-disabled-color);
  cursor: not-allowed;
}
.nj-button--ghost {
  background-color: var(--nj-button-ghost-bg-color);
  color: var(--nj-button-ghost-color);
  padding: 0;
  border: none;
  height: auto;
  text-decoration: underline;
}
.nj-button--ghost:hover {
  color: var(--nj-button-ghost-hover-color);
}
.nj-button--ghost:disabled {
  color: var(--nj-button-ghost-disabled-color);
  cursor: not-allowed;
}
.nj-badge {
  --badge-bg-primary: var(--color-primary-blue-default);
  --badge-bg-secondary: var(--color-tertiary-magenta);
  --badge-bg-tertiary: var(--color-tertiary-teal);
  --badge-color: var(--color-primary-white);
  --badge-padding: 4px 10px;
  --badge-gap: 2px;
  --badge-border-radius: 10px 0;
  display: inline-flex;
  padding: var(--badge-padding);
  border-radius: var(--badge-border-radius);
  font-family: var(--font-family-default);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-default);
  color: var(--badge-color);
  align-items: center;
  gap: var(--badge-gap);
}
.nj-badge--primary {
  background-color: var(--badge-bg-primary);
}
.nj-badge--secondary {
  background-color: var(--badge-bg-secondary);
}
.nj-badge--tertiary {
  background-color: var(--badge-bg-tertiary);
}
.nj-checkbox {
  --nj-checkbox-border-color: var(--color-primary-black);
  --nj-checkbox-hover-border-color: var(--color-primary-black);
  --nj-checkbox-active-border-color: var(--color-primary-black);
  --nj-checkbox-checked-bg-color: var(--color-primary-blue-default);
  --nj-checkbox-checked-border-color: var(--color-primary-blue-default);
  --nj-checkbox-checked-hover-bg-color: var(--color-primary-blue-default);
  --nj-checkbox-checked-hover-border-color: var(--color-primary-blue-default);
  --nj-checkbox-checked-active-bg-color: var(--color-primary-blue-default);
  --nj-checkbox-checked-active-border-color: var(--color-primary-blue-default);
  --nj-checkbox-disabled-bg-color: var(--color-primary-medium-gray);
  --nj-checkbox-disabled-border-color: var(--color-primary-medium-gray);
  --nj-checkbox-bg-color: var(--color-primary-white);
  --nj-checkbox-size: 20px;
  --nj-checkbox-checkmark-color: var(--color-primary-white);
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: var(--nj-checkbox-size);
  height: var(--nj-checkbox-size);
  border: 1px solid var(--nj-checkbox-border-color);
  background-color: var(--nj-checkbox-bg-color);
  border-radius: 2px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.nj-checkbox::after {
  content: "";
  width: var(--nj-checkbox-size);
  height: var(--nj-checkbox-size);
  border-radius: 0;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 10px;
  background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L5.70711 9.70711C5.51957 9.89464 5.26522 10 5 10C4.73478 10 4.48043 9.89464 4.29289 9.70711L0.292893 5.70711C-0.0976311 5.31658 -0.0976311 4.68342 0.292893 4.29289C0.683417 3.90237 1.31658 3.90237 1.70711 4.29289L5 7.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893Z' fill='white'/></svg>");
}
.nj-checkbox:hover {
  --nj-checkbox-border-color: var(--nj-checkbox-hover-border-color);
}
.nj-checkbox:active {
  --nj-checkbox-border-color: var(--nj-checkbox-active-border-color);
}
.nj-checkbox:checked::after {
  transform: scale(1);
}
.nj-checkbox:checked {
  --nj-checkbox-border-color: var(--nj-checkbox-checked-border-color);
  --nj-checkbox-bg-color: var(--nj-checkbox-checked-bg-color);
}
.nj-checkbox:focus-visible {
  outline: max(2px, 0.15rem) solid var(--color-tertiary-teal);
  outline-offset: max(2px, 0.15rem);
}
.nj-checkbox:disabled, .nj-checkbox--disabled {
  pointer-events: none;
  --nj-checkbox-border-color: var(--nj-checkbox-disabled-border-color);
  --nj-checkbox-bg-color: var(--nj-checkbox-disabled-bg-color);
}
.nj-checkbox:disabled:checked::after, .nj-checkbox--disabled:checked::after {
  background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L5.70711 9.70711C5.51957 9.89464 5.26522 10 5 10C4.73478 10 4.48043 9.89464 4.29289 9.70711L0.292893 5.70711C-0.0976311 5.31658 -0.0976311 4.68342 0.292893 4.29289C0.683417 3.90237 1.31658 3.90237 1.70711 4.29289L5 7.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893Z' fill='gray'/></svg>");
}
.nj-info-block {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary-light-blue);
  max-width: 400px;
  padding: 15px;
  gap: 10px;
}
.nj-info-block__icon {
  flex-shrink: 0;
}
.nj-info-block__icon img {
  width: 30px;
}
.nj-info-block__content {
  color: var(--color-primary-black);
}
.nj-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}
.nj-form-group__control {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.nj-form-group__feedback-msg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.nj-form-group__error {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-alert-error);
  font-family: var(--font-family-default);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height-default);
}
.nj-form-group__error::before {
  display: inline-flex;
  align-items: center;
  content: "";
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 17.25C4.44365 17.25 0.75 13.5563 0.75 9C0.75 4.44365 4.44365 0.75 9 0.75C13.5563 0.75 17.25 4.44365 17.25 9C17.25 13.5563 13.5563 17.25 9 17.25ZM9 15.75C12.7279 15.75 15.75 12.7279 15.75 9C15.75 5.27208 12.7279 2.25 9 2.25C5.27208 2.25 2.25 5.27208 2.25 9C2.25 12.7279 5.27208 15.75 9 15.75ZM6.53033 12.5303L9 10.0607L11.4697 12.5303L12.5303 11.4697L10.0607 9L12.5303 6.53033L11.4697 5.46967L9 7.93934L6.53033 5.46967L5.46967 6.53033L7.93934 9L5.46967 11.4697L6.53033 12.5303Z" fill="%23CC0033"/></svg>');
}
.nj-push-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid var(--color-primary-green-action);
  border-radius: 5px;
  padding: 20px 15px 30px 15px;
  margin-bottom: 20px;
  background-color: #fff;
  background-image: url("../images/logoBonPlan/push-bonus-mobile.png");
  background-repeat: no-repeat;
  background-size: 66px 40px;
  background-position: bottom right;
  font-family: var(--font-family-default);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height-default);
}
.nj-push-promo__badge {
  background-color: #9b51e0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.nj-push-promo__close-button {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--color-primary-black);
  cursor: pointer;
}
.nj-push-promo__header {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.nj-push-promo__title {
  font-family: Lato;
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-default);
  margin: 0;
}
.nj-push-promo__sub-title {
  font-family: var(--font-family-default);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height-default);
  color: #666;
  margin: 5px 0 0 0;
}
.nj-push-promo__content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}
.nj-push-promo__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.nj-push-promo__content-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Lato;
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-default);
}
.nj-push-promo--accepted .nj-push-promo__close-button {
  display: block;
}
.nj-push-promo--accepted .nj-push-promo__content-title {
  color: var(--color-alert-success);
}
.nj-push-promo--accepted .nj-push-promo__content-title::before {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  content: "";
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M10.4167 14.6519L15.9301 9.13845L17.4032 10.6116L10.4167 17.5982L6.55509 13.7366L8.02823 12.2635L10.4167 14.6519Z" fill="%230C762E"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.04166 13C1.04166 19.3283 6.17173 24.4584 12.5 24.4584C18.8283 24.4584 23.9583 19.3283 23.9583 13C23.9583 6.67176 18.8283 1.54169 12.5 1.54169C6.17173 1.54169 1.04166 6.67176 1.04166 13ZM21.875 13C21.875 18.1777 17.6777 22.375 12.5 22.375C7.32232 22.375 3.12499 18.1777 3.12499 13C3.12499 7.82235 7.32232 3.62502 12.5 3.62502C17.6777 3.62502 21.875 7.82235 21.875 13Z" fill="%230C762E"/></svg>');
}
.nj-push-promo .nj-badge {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 15px;
}
.nj-push-promo__cta-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-resolution: 2dppx) {
  .nj-push-promo {
    background-image: url("../images/logoBonPlan/push-bonus-mobile@2x.png");
  }
}
@media (min-resolution: 3dppx) {
  .nj-push-promo {
    background-image: url("../images/logoBonPlan/push-bonus-mobile@3x.png");
  }
}
@media (min-width: 769px) {
  .nj-push-promo {
    flex-direction: row;
    max-width: 1200px;
    padding: 20px 50px;
    gap: 20px;
    background-size: 80px 52px;
    background-image: url("../images/logoBonPlan/push-bonus.png");
    background-position: bottom left;
  }
}
@media (min-width: 769px) and (min-resolution: 2dppx) {
  .nj-push-promo {
    background-image: url("../images/logoBonPlan/push-bonus@2x.png");
  }
}
@media (min-width: 769px) and (min-resolution: 3dppx) {
  .nj-push-promo {
    background-image: url("../images/logoBonPlan/push-bonus@3x.png");
  }
}
@media (min-width: 769px) {
  .nj-push-promo__content-container {
    flex-direction: row;
    gap: 20px;
  }
  .nj-push-promo .nj-badge {
    left: 50px;
  }
}