mixin testControl()
  .test-control
    .test-control__checkbox
      input(type="checkbox" id="terms" name="terms" required)
      label(for="terms") J'accepte les #[a(href="#") Conditions générales] de l'offre Mon Bonus
    .test-control__error-message
      p.test-control__error-icon &#x2716;
      p.test-control_error  Veuillez cocher pour accepter les conditions générales