//- Import the button component
include ../badge/badge

include ../infoBlock/infoBlock

mixin pushPromo(title, subTitle, contentTitle, badgeText, stateClass)
  .nj-push-promo(class=stateClass)
    if badgeText
      +badge(badgeText, 'secondary')
    if stateClass === 'nj-push-promo--accepted'
      button.nj-push-promo__close-button &times;
    .nj-push-promo__header
      h3.nj-push-promo__title #{title}
      p.nj-push-promo__sub-title #{subTitle}
    .nj-push-promo__content-container
      .nj-push-promo__content
        p.nj-push-promo__content-title #{contentTitle}
        block
      if stateClass === 'nj-push-promo--accepted'
        +infoBlock('images/iphone.png', 'Téléchargez l\'application ENGIE', '#', 'pour être notifié du prochain jour de challenge.')
