mixin blockInfo()
  .block-info
    img.block-info__icon(src="/path/to/images/InfoLight.png", alt="Info Icon")
    p #[a(href="#") Téléchargez l'application ENGIE ]
      | pour être notifié du prochain jour de challenge.