mixin blockInfo()
  .block-info
    img.block-info__icon(src="/path/to/images/InfoLight.png", alt="Info Icon")
    p
      | Téléchargez l'application 
      a(href="#") ENGIE 
      | pour être notifié du prochain jour de challenge.