.block-info {
    display: flex;
    align-items: center;
    background-color: #E6F0FF; // Couleur de fond bleu clair
    padding: 10px;
    border-radius: 5px; // Bords arrondis
    font-family: Arial, sans-serif; // Police standard
    color: #003366; // Couleur de texte bleu foncé
    font-size: 14px;
  
    &__icon {
      color: #0056b3; // Couleur de l'icône
      margin-right: 10px; // Espace entre l'icône et le texte
    }
  
    a {
      color: #0056b3; // Couleur du lien
      text-decoration: none; // Pas de soulignement
  
      &:hover {
        text-decoration: underline; // Soulignement au survol
      }
    }
  }