include ../badgeTest/badgeTest
include ../boutonTest/boutonTest

mixin monBonus()
  +badgeTest('purple topblock')
  .mon-bonus
    .mon-bonus__left
      .mon-bonus__title Mon Bonus
      p Mon Bonus Agissons ensemble!
    .mon-bonus__right
      .mon-bonus__header L'écodéfi Gaz vient de commencer! Prêt à relever le défi?
      .mon-bonus__info
        | Cet hiver, réduisez vos consommations certains jours. Pour vous remercier, des primes vous seront reversées!
      label.mon-bonus__checkbox
        input(type="checkbox")
        | J'accepte les #[a(href="#") Conditions générales] de l'Offre Mon Bonus
      .blockconec
        +boutonTest('Je participe', 'bg-blue')
        p #[a(href="#") comment ça marche ?]
    img.mon-bonus__logo(src="images/logoBonPlan/bonus-ENGIE-Test-1.png", alt="Logo Bon Plan")