.mon-bonus {
    position: relative; // Ajout de la position relative au conteneur
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #23D2B5;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
  
    &__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
  
    &__title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 5px;
    }
  
    &__right {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  
    &__header {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
        font-weight: bold;
    }
  
    &__info {
        font-size: 14px;
        color: #666;
        margin-bottom: 20px;
    }
  
    &__checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
  
        input {
            margin-right: 5px;
        }
    }
    .blockconec {
        display: inline-flex;
    }
    &__logo {
        position: absolute;
        bottom: 10px;
        left: 10px; // Position à gauche pour le desktop
        transform: scaleX(1); // Aucune inversion pour le desktop
    }
}

.topblock {
    position: relative;
    top: 2em;
    left: 2%;
    z-index: 1;
}

// Ajout de la requête média pour le responsive
@media (max-width: 768px) {
    .mon-bonus {
        flex-direction: column;
       
        &__left, &__right {
            flex: none;
            width: 100%;
            align-items: center;
        }
    }
    .topblock {
        left: 1em;
    }
    .mon-bonus__logo {
        left: auto; // Enlève la position gauche
        right: 10px; // Position à droite pour le mobile
        transform: scaleX(-1); // Inversion de l'image pour le mobile
    }
}