extends ./pug-template/base
//--------------------------------------------------

include ./components/testControl/testControl
include ./components/blockInfo/blockInfo
include ./components/badgeTest/badgeTest
include ./components/boutonTest/boutonTest 

block content

  +testControl()
  +blockInfo()
  +badgeTest('purple')
  +badgeTest('green')
  +badgeTest('blue')

  .buttons-container
    .button-column
      +boutonTest('Label bouton', 'bg-blue', '')
      +boutonTest('Label bouton', 'bg-dark', '')
      +boutonTest('Label bouton', 'bg-light', '')
    .button-column
      +boutonTest('Label bouton', '', 'border-blue')
      +boutonTest('Label bouton', '', 'border-dark')
      +boutonTest('Label bouton', '', 'border-light')
    .button-column
      +boutonTest('Label bouton', 'text-blue', '')
      +boutonTest('Label bouton', 'text-bluz', '')
      +boutonTest('Label bouton', 'text-gray', '')