extends ./pug-template/base
//--------------------------------------------------


include ./components/testControl/testControl
include ./components/blockInfo/blockInfo

block content

  +testControl()
  +blockInfo()
