- if (typeof title === "undefined") title = ""
- if (typeof description === "undefined") description = ""
- if (typeof demoMode === "undefined") demoMode = false

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title=title

    link(rel="icon" href="/images/Favicon 16x16.ico" sizes="any")
    link(rel="stylesheet" href="css/styles.css")

  body
    block content
