:root {
  --color-primary-black: #343434;
  --color-primary-white: #fff;
  --color-primary-blue-default: #007acd;
  --color-primary-blue-hover: #002457;
  --color-primary-green-action: #23d2b5;
  --color-primary-light-gray: #e5e5e5;
  --color-primary-medium-gray: #858585;
  --color-secondary-light-blue: #ecf6fd;
  --color-alert-success: #0c762e;
  --color-alert-error: #c03;
  --color-tertiary-magenta: #9a0ca7;
  --color-tertiary-teal: #008480;
  --font-family-default: "Lato", "Arial", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-base: 1rem;
  --font-size-xs: 0.875rem;
  --font-size-lg: 1.25rem;
  --font-line-height-default: 120%;
}
