.badge {
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 10px;
    width: 75px;
    align-items: center;
    height: 20px;
    border-radius: 10px 0px 10px 0px;
  }
  
  // Définition des couleurs spécifiques
  .purple {
    background-color: #9A0CA7; // Couleur pourpre
  }
  
  .green {
    background-color: #008480; // Couleur verte
  }
  
  .blue {
    background-color: #007ACD; // Couleur bleue
  }